<div class="row">
  	<div class="col-md-6">

		<div id="videofeed-widget"></div>

		<div class="row">
			<div class="col-md-12">
				<ul id="middlelefthand-widgets" class='sortablewidgets droptrue'>
				</ul>
			</div>

		</div>

	</div>

	<div class="col-md-6">

		<ul id="righthand-widgets" class='sortablewidgets droptrue'>
		</ul>

	</div>
</div>