<div class="row">
  	<div class="col-md-6">

		<ul id="lefthand-widgets" class='sortablewidgets droptrue'>
		</ul>

	</div>

	<div class="col-md-6">

		<ul id="righthand-widgets" class='sortablewidgets droptrue'>
		</ul>

	</div>
</div>